@import "tailwindcss";

/* Reset básico para garantir que o fundo do site seja liso e sem margens vazias */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f3f4f6; /* Fundo cinza bem claro para o estilo premium */
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
